extends layout.pug

block content
  h1.mt-5= title
  form(method="POST")
    .form-group
      label(for='type') Type
      input#type.form-control(type='text', placeholder='Enter your type of exercise', name="type", value=workout.type)
    .form-group
      label(for='distance') Distance
      input#distance.form-control(type='text', placeholder='mi', name="distance", value=workout.distance)
    .form-group
      label(for='duration') Duration
      input#duration.form-control(type='text', placeholder='min', name="duration", value=workout.duration)
    .form-group
      label(for='calories') Calories
      input#calories.form-control(type='text', placeholder='cal', name="calories", value=workout.calories)      
    a.btn.btn-primary(href='/home') Submit

